$step: 4;

@charset "UTF-8";

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


@import "compass/css3";

@import "tools/site-settings";
@import "tools/helpers";
@import "tools/mixins";
@import "tools/functions";

@import "base/normalize";
@import "base/base";

@import "layout/major";
@import "layout/nav";

@import "modules/extends";
@import "modules/buttons";

@import "vendor/shims";

@media screen and (min-width: 721px) {
    @import "min_width_720";
}

@media screen and (max-width: 720px) {
    @import "max_width_720";
}
