* {
    @include border-box ();
}



$background-color: #333;

//nav
.block {
    position: relative;
    
}



#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}


//base styles
body {
  color: palette(black);
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: ($base__line/$base__font-size);
  width: 100%;

}

p {
  margin: 0 0 em(30px, 18px);
  font-weight: $font-weight--medium;
  font-size: em(18px);
  line-height: (27px/18px);
}

a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}

ul, ol {
    padding: 0;
    list-style: none;
}


blockquote {
  font-weight: $font-weight--light;
  font-style : italic;
  font-size : em(20px);
  color: palette(grey, dark);
 
    @include mq(medium) {
    width: 80%;
    margin: em(32px, 24px) 0;
    padding: 0 0 0 5%;
    border-left: em(8px, 24px) solid palette(grey, xx-light); 
    font-size: em(24px);
  }
  footer {
    font-size: 0.7em;
    text-align: right;
    margin-top: 12px;
  }
}

.highlight {
    background: #fff699;
    padding: 0 0.5em;
}

abbr, acronym {
  cursor: help;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}




// Images

img {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
}

// Form elements
form {
    box-sizing: border-box;
}
input, 
textarea {
    
    padding: 12px;
    margin-bottom: 20px;
    width: 100%; 
    outline: 0;
    
}

input:focus, 
textarea:focus {
  
}

// Button

button {
    outline: 0;
}

input[type="submit"] {
    box-sizing: border-box;
}



